#tarolo2 {
    width: 100%;
    height: 400px; 
    background-color: yellow;   
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.elem {
    width: 100px;
    height: 100px;
    background-color: purple;
    list-style: none;
}
